html, body {
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

#items_header {
  background-color: #F5F5F5;
}

.items-group {
  margin: 5% auto;
}

.items-list, #submit-items {
  width: 15%;
  max-width: 50%;

  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;

  border: 2px solid grey;
  border-radius: 5px;

  text-align: center;
  margin: auto;
}

.items-list:hover {
  background-color: lightyellow;
}

.items-list:active {
  background-color: lightyellow;
}

#submit-items {
  margin-top: 5%;
}

#welcome_title {
  text-align: center;
}

#welcome_text {
  text-align: center;
}