<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage_style.css') }}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <title>Homepage</title>
</head>

<body>

  <div id="homepage_header" class="jumbotron">
    <h1 id="welcome_title" class="display-4">Welcome to the Homepage!</h1>
    <p id="welcome_text" class="lead">This page will contain the various aisles of your store that when clicked, will
                    redirect you to a page listing the existence of the products in that aisle. </p>
    <hr class="my-4">  

    <a href="{{ url_for('logout') }}">Logout</a>
  </div>

  <div id="tile_container" class="container">
    <div class="row">
        <div class="col-lg-6">
          <div class="tile-progress tile-1">
            <div class="tile-header">
              <a href="{{ url_for('items_presence', aisle_number='1') }}">Visit Aisle 1</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="tile-progress tile-2">
            <div class="tile-header">
              <a href="{{ url_for('items_presence', aisle_number='2') }}">Visit Aisle 2</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="tile-progress tile-3">
            <div class="tile-header">
              <a href="{{ url_for('items_presence', aisle_number='3') }}">Visit Aisle 3</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="tile-progress tile-4">
            <div class="tile-header">
              <a href="{{ url_for('items_presence', aisle_number='4') }}">Visit Aisle 4</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-lg-6">
          <div class="tile-progress tile-5">
            <div class="tile-header">
              <a href="{{ url_for('items_presence', aisle_number='5') }}">Visit Aisle 5</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="tile-progress tile-6">
            <div class="tile-header">
              <a href="{{ url_for('items_presence', aisle_number='6') }}">Visit Aisle 6</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="tile-progress tile-7">
            <div class="tile-header">
              <a href="{{ url_for('items_presence', aisle_number='7') }}">Visit Aisle 7</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="tile-progress tile-8">
            <div class="tile-header">
              <a href="{{ url_for('items_presence', aisle_number='8') }}">Visit Aisle 8</a>
            </div>
          </div>
        </div>
      </div>
  </div>

</body>

</html>