<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login_style.css') }}">
</head>

<body>
  <div class="form-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8">
                <div id="tmp" class="form-container">
                    <form class="form-horizontal">
                        <h3 class="title">Welcome!</h3>
                        <span class="description">The official authentication page of Where's the Milk.</span>
                        <div class="form-group">
                            <input class="form-control" type="email" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" placeholder="Password">
                        </div>
                        <button class="btn signin">Login</button>
                        <span class="signup">or <a href="#">Sign up</a></span>
                        <span class="forgot"><a href="">Forgot Password?</a></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div>
</body>

</html>